<!-- htmlhint spec-char-escape:false -->
<!--
This is the 'listings' view. It loops through all listings passed to it and prints all of them in a list.
The listings link to their respective '/box/:id' pages.

The list can be filtered using the 'search-filters' partial. It includes javascript to animate the filtering
-->

<!DOCTYPE html>

<html>

<head>

  <%- include( 'partials/head' ); %>
  <style>

  </style>

</head>

<body>

	<%- include( 'partials/nav' ); %>

	<div class="content">

		<ul class="listings">

      <% listings.forEach( function( listing, i ) { %>
        <li id="<%= listing._id %>">
          <h3>File name: <%= listing.name %></h3>
          <p>Language: <%- listing.language %><p>
          <p>Transcribe: <%- listing.transcribe %><p>
          <% if(!listing.transcribe){ %>
            <div>
              <input type='button' class='btn_translate' value='Transcribe'>
            </div>
          <% } else{ %>
            <div>
              <a href="/subtitle/<%= listing._id %>", target="_blank">
                <input type='button' class='btn_view', value='View Subtitle'>
              </a>
            </div>
          <% } %>

        </li>

      <% }) %>

		</ul>

	</div>
  <script>
  $( document ).ready(function() {

    $(".btn_translate").on('click', function(){
      // disable all the translate button
      $('.btn_translate').attr('disabled',true);
      // show progress gif
      $('.listings').prepend('<div id="loading_bar" ><img src="/images/loadingfinal.gif"/></div>');

      var id = $(this).closest("li").prop("id");
      // console.log(id);
      $.ajax({
        url: '/transcribe',
        type: 'POST',
        timeout: 0,
        data: {id: id},
        success: function(response, status){
            // $('#loading_bar').remove();
            // $('.btn_translate').attr('disabled', false);
            location.reload(true);
            console.log("Data: " + response + "\nStatus: " + status);
          },
        error: function(request,error) {
              console.log(request.responseText);
              console.log(error);
          }
      });

      // ISSUE
      // $.post("/translate", {id: id}, function(data, status){
      //     $('#loading_bar').remove();
      //     $('.btn_translate').attr('disabled', false);
      //     location.reload(true);
      //     console.log("Data: " + data + "\nStatus: " + status);
      //   }
      // );
      //
    });

  });
  </script>
  <%- include( 'partials/footer' ); %>

</body>

</html>
