<!-- htmlhint spec-char-escape:false -->
<!--
This is the 'listings' view. It loops through all listings passed to it and prints all of them in a list.
The listings link to their respective '/box/:id' pages.

The list can be filtered using the 'search-filters' partial. It includes javascript to animate the filtering
-->

<!DOCTYPE html>

<html>

<head>

  <%- include( 'partials/head' ); %>
  <style>

  </style>

</head>

<body>
<%- include( 'partials/nav' ); %>
<div class="main" style="background-image: url('images/default.jpg')">

  <!--    Change the image source '/images/default.jpg' with your favourite image.     -->

  <div class="cover black" data-color="black"></div>

  <!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

  <div class='container'>
    <h1 class="logo cursive">
      Speech To Text
    </h1>

    <div class="content">
      <div class="row" >
        <div class="col-md-4 col-md-offset-4 col-sm6-6 col-sm-offset-3 ">
          <ul class="listings">

              <% listings.forEach( function( listing, i ) { %>
            <li id="<%= listing._id %>">
              <h4><%= listing.name %></h4>
              <p>
                Language: <%- listing.language %> &nbsp;&nbsp;&nbsp;
                Transcribe: <%- listing.transcribe %>
              </p>
                    <% if(!listing.transcribe){ %>
              <div>
                <input type='button' class='btn_translate' value='Transcribe'>
              </div>
                <% } else{ %>
              <div>
                <a href="/subtitle/<%= listing._id %>", target="_blank">
                  <input type='button' class='btn_view', value='View Subtitle'>
                </a>
              </div>
                <% } %>

            </li>

              <% }) %>

          </ul>
        </div>
      </div>


    </div>

  </div>


  <script>
  $( document ).ready(function() {

    $(".btn_translate").on('click', function(){
      // disable all the translate button
      $('.btn_translate').attr('disabled',true);
      // show progress gif
      $('.listings').prepend('<div id="loading_bar" ><img src="/images/loadingfinal.gif"/></div>');

      var id = $(this).closest("li").prop("id");
      // console.log(id);
      $.ajax({
        url: '/stt/gcs',
        type: 'POST',
        timeout: 0,
        data: {id: id},
        success: function(response, status){
            // $('#loading_bar').remove();
            // $('.btn_translate').attr('disabled', false);
            location.reload(true);
            console.log("Data: " + response + "\nStatus: " + status);
          },
        error: function(request,error) {
              console.log(request.responseText);
              console.log(error);
          }
      });
    });

  });
  </script>

  <%- include( 'partials/footer' ); %>
</div>
</body>

</html>
