<!DOCTYPE HTML>

<html>

<head>

  <%- include( 'partials/head' ); %>

  <style>
    .text_edit {
      font-family: Calibri;

      width: 600px;
      height: 250px;
      resize: none;
    }

  </style>
</head>

<body>
<%- include( 'partials/nav' ); %>

<div class="main" style="background-image: url('/images/default.jpg')">

  <!--    Change the image source '/images/default.jpg' with your favourite image.     -->

  <div class="cover black" data-color="black"></div>

  <!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

  <div class='container'>
    <h1 class="logo cursive">
      Audio Transcription Editing Tool
    </h1>

    <div class="content">
      <div class="row" >
        <div class="col-md-8 col-md-offset-3 col-sm6-6 col-sm-offset-3 ">
        <p id="blockquote" class="blockquote" ><%= data.audio %></p>
        <p><Audio id="audio" controls="true" src="/<%= data.audio %>" style="width: 80%; margin-bottom: 10px;" /></p>

          <!-- Text area -->
          <textarea class="text_edit" id="my_text"><%= data.subtitle %></textarea>
          <br/><br/>

          <input type="button" id="dwn-btn" value="Download as text file"/>&nbsp;&nbsp;
          <input type="button" id="save-btn" value="Save" onclick="save('<%= data._id %>')"/>

        </div>
      </div>


    </div>

  </div>


  <script type="text/javascript">
    function download(filename, text) {
      var element = document.createElement('a');
      element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
      element.setAttribute('download', filename);

      element.style.display = 'none';
      document.body.appendChild(element);

      element.click();

      document.body.removeChild(element);
    }

    // Start file download.
    document.getElementById("dwn-btn").addEventListener("click", function() {
      var text = document.getElementById("my_text").value;
      var filename = document.getElementById("blockquote").innerHTML+'.txt';

      download(filename, text);
    }, false);

    function save(id) {
      var text = document.getElementById("my_text").value;
      $.ajax({
        url: '/subtitle/save/'+ id,
        type: 'POST',
        timeout: 0,
        data: {content: text},
        success: function(response, status){
            //location.reload(true);
            console.log("Data: " + response + "\nStatus: " + status);
          },
        error: function(request,error) {
              console.log(request.responseText);
              console.log(error);
          }
      });
    }

  </script>
  <%- include( 'partials/footer' ); %>
</div>
</body>

</html>
