<!-- htmlhint spec-char-escape:false -->
<!--
This is the 'listings' view. It loops through all listings passed to it and prints all of them in a list.
The listings link to their respective '/box/:id' pages.

The list can be filtered using the 'search-filters' partial. It includes javascript to animate the filtering
-->

<!DOCTYPE html>

<html>

<head>

  <%- include( 'partials/head' ); %>

</head>

<body>

	<%- include( 'partials/nav' ); %>

	<!-- <%- include( 'partials/search-filters', { listings: listings } ); %> -->

	<div class="content">

		<ul class="listings">

      <!--
      Notice the following tag. This one is used for control flow.
      Here we use it to loop through the listings and
      print the following <li> block for each one
      -->

      <% listings.forEach( function( listing, i ) { %>

        <li id="<%= i %>">

          <a href="/box/<%= i %>">

            <% if ( listing.image ) { %>
              <img class="box-image" src="<%= listing.image %>">
            <% } %>

            <div class="details">

              <h2><%= listing.name %></h2>
              <h3>$<%= listing.price.toFixed(2) %> per night</h3>
              <p><%- listing.description %></p>

            </div>

          </a>

        </li>

      <% }) %>

		</ul>

	</div>

  <%- include( 'partials/footer' ); %>

</body>

</html>
